<?php

// Cấu hình CSDL
const DB_CONFIG = [
    'dbhost' => 'localhost',
    'dbname' => 'Tên CSDL',
    'dbuser' => 'Tên đăng nhập của bạn',
    'dbpass' => 'Mật khẩu CSDL của bạn'
];

// Cấu hình Base URL (quan trọng cho routing)
define('BASE_URL', '');
?>

Khi chạy xóa .example ở tên và thay đổi các thông tin cần thiết